/* Battle menu */
 .battle-menu {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);
    position: absolute;
    bottom: 90px;
    left: 60px;
    transform: rotate(45deg);

    animation:  content-appears .5s ease-out;
}
.battle-menu button {
    background-color: darkgray;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.battle-menu button:hover {
    cursor: pointer;
    background-color: aquamarine;
}
.battle-menu button:focus, .battle-menu > div:focus-within {
    background-color: aqua;
}
.battle-menu button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(110deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
}
.battle-menu button span {
    text-align: center;
    rotate: -45deg;
    font-family: fantasy;
}
.sub-content {
    width: 50px;
    height: 50px;
    rotate: -45deg;
    display: block;
    z-index: -1;
    position: absolute;
    left:  50px;
    background-color: #0000!important;
}

/* Logica de aparecer as tabelas */
.battle-menu button:focus {
    display: flex;
    animation: rotate(0deg) 1seg ease-in-out;
}
.content {
    border: 3px solid darkblue;
    background-color: dodgerblue;
    height: 250px;
    width: 300px;
    min-width: 100px;
    max-width: 400px;

    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 75px;
    bottom: 0;
    top: -100px;
    right: 0;
    text-wrap: nowrap;
}
@keyframes content-appears {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
.content > div, .content > div:focus-within {
    display: none;
    height: 100%;
    width: 100%;
}
.battle-menu #web:focus ~ div #web-content, #web-content:focus-within, #web-content:active {
    display: block;
}
.battle-menu #game:focus ~ div #game-content, #game-content:focus-within, #game-content:active {
    display: block;
}
.battle-menu #social:focus ~ div #social-content, #social-content:focus-within, #social-content:active {
    display: block;
}
.battle-menu #about-me:focus ~ div #about-me-content, #about-me-content:focus-within, #about-me-content:active {
    display: block;
}

/* Content Styles */
.content > div ul li {
    list-style: none;
    padding: 5px;
}
.content > div ul li a {
    text-decoration: none;
    color: black;
}
.content > div ul li:hover {
    text-decoration: underline;
}
.content img {
    max-height: 25px;
}
#social-content li a {
    margin: auto 0;
    display: flex;
    align-items: center;
}
.content > div li:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #00ffff;
  transition: 400ms;
}
.content > div li:hover:after {
  width: 100%;
}
.content p {
    text-wrap: wrap;
    padding: 5px;
}

/* Status menu */
.status-menu {
    position: absolute;
    right: 0;
    bottom:  0;
    width: 200px;
    height: 270px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.menu {
    border: 1px solid red;
    height: 50px;
    width: 150px;

    position: relative;
    background-color: black;

}
.menu .name {
    /* border: 1px solid yellow; */
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-radius: 15px 0 0 0;
    padding: 3px 15px;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: rgb(57, 86, 148);
    
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,   
    -2px 2px 0 #000,   
    2px 2px 0 #000,    
    -3px -3px 0 #000,  
    3px -3px 0 #000,   
    -3px 3px 0 #000,   
    3px 3px 0 #000;  
}
.name::before {
    border-radius: 15px 0 0 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0), #a0a0a04d);

}
#FFilins {
    color: #87c42d;
}